<div>
    <h2 id="page-heading">
        <span>ML Models</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ml-model" [routerLink]="['/ml-model/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new ML Model
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mLModels?.length === 0">
        <span>No mLModels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mLModels && mLModels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Tp</span></th>
                    <th scope="col" ><span>Tn</span></th>
                    <th scope="col" ><span>Fp</span></th>
                    <th scope="col" ><span>Fn</span></th>
                    <th scope="col" ><span>Accuracy</span></th>
                    <th scope="col" ><span>Precision</span></th>
                    <th scope="col" ><span>Recall</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mLModel of mLModels ;trackBy: trackId">
                    <td><a [routerLink]="['/ml-model', mLModel.id, 'view']">{{ mLModel.id }}</a></td>
                    <td>{{ mLModel.tp }}</td>
                    <td>{{ mLModel.tn }}</td>
                    <td>{{ mLModel.fp }}</td>
                    <td>{{ mLModel.fn }}</td>
                    <td>{{ mLModel.accuracy }}</td>
                    <td>{{ mLModel.precision }}</td>
                    <td>{{ mLModel.recall }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ml-model', mLModel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ml-model', mLModel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mLModel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
