<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ml-model-heading">Create or edit a ML Model</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tp">Tp</label>
                    <input type="number" class="form-control" name="tp" id="field_tp"
                           formControlName="tp"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_tn">Tn</label>
                    <input type="number" class="form-control" name="tn" id="field_tn"
                           formControlName="tn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fp">Fp</label>
                    <input type="number" class="form-control" name="fp" id="field_fp"
                           formControlName="fp"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fn">Fn</label>
                    <input type="number" class="form-control" name="fn" id="field_fn"
                           formControlName="fn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_accuracy">Accuracy</label>
                    <input type="number" class="form-control" name="accuracy" id="field_accuracy"
                           formControlName="accuracy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_precision">Precision</label>
                    <input type="number" class="form-control" name="precision" id="field_precision"
                           formControlName="precision"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_recall">Recall</label>
                    <input type="number" class="form-control" name="recall" id="field_recall"
                           formControlName="recall"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
