<head>
    <style>
        .teacherTitle {
            text-align: center;
            display: inline-block;
            width: 320px;
            height: 85px;
            background: url('../../../content/images/teacher-predictor-logo-title.png') no-repeat center top;
            background-size: contain;
        }

        .hipster {
            text-align: center;
            display: inline-block;
            width: 320px;
            height: 225px;
            background: url('../../../content/images/teacher-predictor-logo.png') no-repeat center top;
            background-size: contain;
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (-moz-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
            .teacherTitle {
                background: url('../../../content/images/teacher-predictor-logo-title.png') no-repeat center top;
                background-size: contain;
            }
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (-moz-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx) {
            .hipster {
                background: url('../../../images/teacher-predictor-logo.png') no-repeat center top;
                background-size: contain;
            }
        }
    </style>
</head>
<div *ngIf="isLoading" class="row justify-content-center" style="text-align:center; display:inline-block; width:100%;">
    <div class="col-md-12">
        <img src="../../../content/images/loading-bar.gif">
    </div>
    <div class="col-md-12">
        <span class="lead" style="color:blue;font-weight:bold"><i>Graphs may take a few seconds to load, please
                wait!</i></span>
    </div>
</div>
<div *ngIf="!isLoading" class="row">
    <div class="col-md-12">
        <h2 style="text-align: center;" class="display-6">Model Metrics Data</h2>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <ngb-alert *ngIf="alertSuccessfulMessage" type="success" (close)="alertSuccessfulMessage = ''">
                        {{ alertSuccessfulMessage }}</ngb-alert>
                    <ngb-alert *ngIf="alertUnsuccessfulMessage" type="danger" (close)="alertUnsuccessfulMessage = ''">
                        {{ alertUnsuccessfulMessage }}</ngb-alert>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3">
                <div class="row" style="position: relative; float: left;">
                    <div class="col-md-10">
                        <span class="teacherTitle img-fluid rounded"></span>
                    </div>
                    <div class="col-md-10">
                        <span class="hipster img-fluid rounded"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-7">
                <div class="row">
                    <div class="col-lg-12 col-xl-6">
                        <div class="row justify-content-center">
                            <svg width="300" height="300">
                                <g transform="translate(100,50)">
                                    <rect width="150" height="150" style="stroke: black; stroke-width: 2px;"></rect>
                                    <g class="row" transform="translate(0,0)">
                                        <g class="cell" transform="translate(0, 0)" style="fill: rgb(236, 240, 241);">
                                            <rect width="75" height="75" style="stroke-width: 0;"></rect>
                                            <text dy=".32em" x="37.5" y="37.5" text-anchor="middle"
                                                style="fill: black;">Tp:
                                                {{ metricsTp }}</text>
                                        </g>
                                        <g class="cell" transform="translate(75, 0)" style="fill: rgb(255, 253, 251);">
                                            <rect width="75" height="75" style="stroke-width: 0;"></rect>
                                            <text dy=".32em" x="37.5" y="37.5" text-anchor="middle"
                                                style="fill: black;">Fp:
                                                {{ metricsFp }}</text>
                                        </g>
                                    </g>
                                    <g class="row" transform="translate(0,75)">
                                        <g class="cell" transform="translate(0, 0)" style="fill: rgb(255, 255, 255);">
                                            <rect width="75" height="75" style="stroke-width: 0;"></rect>
                                            <text dy=".32em" x="37.5" y="37.5" text-anchor="middle"
                                                style="fill: black;">Fn:
                                                {{ metricsFn }}</text>
                                        </g>
                                        <g class="cell" transform="translate(75, 0)" style="fill: rgb(236, 240, 241);">
                                            <rect width="75" height="75" style="stroke-width: 0;"></rect>
                                            <text dy=".32em" x="37.5" y="37.5" text-anchor="middle"
                                                style="fill: black;">Tn:
                                                {{ metricsTn }}</text>
                                        </g>
                                    </g>
                                    <g class="labels">
                                        <g class="row-label" transform="translate(0,0)">
                                            <line x1="0" x2="-5" y1="37.5" y2="37.5"
                                                style="stroke: black; stroke-width: 1px;">
                                            </line>
                                            <text x="-8" y="37.5" dy=".32em" text-anchor="end">Pred. True</text>
                                        </g>
                                        <g class="row-label" transform="translate(0,50)">
                                            <line x1="0" x2="-5" y1="62.5" y2="62.5"
                                                style="stroke: black; stroke-width: 1px;">
                                            </line>
                                            <text x="-8" y="62.5" dy=".32em" text-anchor="end">Pred. False</text>
                                        </g>
                                        <g class="column-label" transform="translate(0,150)">
                                            <line x1="37.5" x2="37.5" y1="0" y2="5"
                                                style="stroke: black; stroke-width: 1px;">
                                            </line>
                                            <text x="35" y="30" dy=".22em" text-anchor="end"
                                                transform="rotate(-30)">Actual
                                                True</text>
                                        </g>
                                        <g class="column-label" transform="translate(50,150)">
                                            <line x1="62.5" x2="62.5" y1="0" y2="5"
                                                style="stroke: black; stroke-width: 1px;">
                                            </line>
                                            <text x="57.5" y="42.5" dy=".22em" text-anchor="end"
                                                transform="rotate(-30)">Actual
                                                False</text>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>

                    </div>
                    <div class="col-lg-12 col-xl-6">
                        <div class="row justify-content-center">
                            <div class="col-md-12" style="padding-top: 25px;">
                                <h5 class="display-5" style="margin-top: 5px;text-align: center;">Measurements </h5>
                                <div class="col-md-12">
                                    <table class="table table-striped" aria-describedby="page-heading">
                                        <thead>
                                            <tr>
                                                <th scope="col"><span>Accuracy</span> </th>
                                                <th scope="col"><span>Precision</span> </th>
                                                <th scope="col"><span>Recall</span> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ metricsAccuracy }}</td>
                                                <td>{{ metricsPrecision }}</td>
                                                <td>{{ metricsRecall }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-2 col-xl-2">
                <div class="row">
                    <div class="col-md-12" style="padding-top: 40px;">
                        <h5 class="display-5" style="margin-top: 5px;text-align: center;">Delete the model and all
                            system data</h5>
                        <div class="col-md-12" style="text-align: center;">
                            <button class="btn btn-danger" (click)="deleteModelAndTeachers()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top: 35px;">
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <plotly-plot [data]="graphLoss.data" [layout]="graphLoss.layout"></plotly-plot>
            </div>
            <div class="col-lg-12 col-xl-6">
                <plotly-plot [data]="graphAccuracy.data" [layout]="graphAccuracy.layout"></plotly-plot>
            </div>
        </div>
    </div>
</div>